server:
  port: ${PORT:8080}

spring:
  security:
    oauth2:
      client:
        provider:
          authProvider:
            token-uri: https://397d302e-1a86-4186-aec9-bf45a1f7b511-us-east-1.apps.astra.datastax.com/api/rest/v1/auth
        registration:
          authProvider:
            client-id: tnlKAtjrRvOIwOkZtlhTNWWG
            client-secret: w82CenP3UUjU_Te0Z8vc6WG.1k.CSl5S4KS5QHgCG2,nv-0mdYBk,UBa8Bp4zdyjGBpw8FQ2NfXj7FBGK.gpkjcL76qtSI3bLbR+lS4c-Mkjk2FJOMCCzUoUK+N25JOJ
            authorization-grant-type: client_credentials
  messages:
    basename: i18n/messages
  thymeleaf:
    mode: XHTML
    prefix: classpath:views/view-
    suffix: .html
  jackson:
    default-property-inclusion: non-null   
  output:
    ansi:
      enabled: DETECT    
 
logging:
  file: logs/application-debug.log
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    root: WARN
    com.datastax.yasa: INFO
    
    

astra:
  database-id: 397d302e-1a86-4186-aec9-bf45a1f7b511
 
  client-id: tnlKAtjrRvOIwOkZtlhTNWWG
  client-secret: w82CenP3UUjU_Te0Z8vc6WG.1k.CSl5S4KS5QHgCG2,nv-0mdYBk,UBa8Bp4zdyjGBpw8FQ2NfXj7FBGK.gpkjcL76qtSI3bLbR+lS4c-Mkjk2FJOMCCzUoUK+N25JOJ
  application-token: AstraCS:tnlKAtjrRvOIwOkZtlhTNWWG:8404f8a0c6130fac0f8aa5bc94b294113c8d52bdda131956c69c2fb90f6b7c5c
  cloud-region: us-east-1
  keyspace: enterprise





        
        